[user]
    name = Sakthi Santhosh Anumand
    email = mail@sakthisanthosh.in
    signingkey = <redacted>
[gpg]
    format = ssh
[alias]
    st = status --short
    ct = commit -a -S -q
    ph = push -q
    l = log --all --graph --oneline --decorate
